<div class="feature" style="background-image: url(<%= asset_path 'banner_nieuws.jpg' %>) ">
    <div class="container  typeset">
    </div>
</div>
<main class="main  container">
  <div class="content">
    <article class="article  article--page  typeset">
      <h1>Nieuws van de Hofakker</h1>
    </article>
    <section class="section  typeset">
      <ul class="list  list--posts">
        <% if @allnews.empty? %>
          Er zijn momenteel geen nieuwsberichten van de Hofakker
        <% end %>
        <% @allnews.each do |n| %>
            <li class="item  item--post">
              <article class="article  article--post">
                <h2><%= link_to n.titel, nieuw_path(n.slug) %></h2>
                <small class="small  post-meta">
                  &nbsp;&middot;&nbsp;<time datetime="nieuws data time" class="time"><%= n.published.strftime("%d %B %Y")  %></time>
                </small>
                <p><%= n.beschrijving %></p>
              </article>
            </li>
          <% end %>
      </ul>
    </section>
  </div>
  <%= render partial: '/common/aside' %>
</main>
