<div class="feature" style="background-image: url(<%= asset_path 'banner_nieuws.jpg' %>) ">
    <div class="container  typeset">
    </div>
</div>
<main class="main  container">
  <div class="content">
  <article class="article  article--post  typeset">
    <h1><%= @news.titel %></h1>
    <section class="section  typeset">
      </section>
    <small class="small  post-meta">
      &nbsp;&middot;&nbsp;<time datetime="<%= @news.published %>" class="time"><%= @news.published.strftime("%d %B %Y")  %></time>
    </small>
    <%= @renderer.render(@news.content).html_safe %>
    <%= render partial: '/common/share' %>
  </article>
  </div>
  <%= render partial: '/nieuws/aside' %>
</main>
