<aside class="aside  typeset  aside--right">
  <section class="section  section--related-posts">
    <%= image_tag "Hofakker-logo-vs-RGB.png", alt: "School de Hofakker logo" %>
    <% if @othermailings.blank? %>
      Er zijn momenteel geen andere nieuwsbrieven van de Hofakker
    <% else %>
      <% @othermailings.each do |mailing| %>
        <ul class="list  list--posts">
          <li class="item  item--post">
            <article class="article  article--post  typeset">
              <h4><%= link_to mailing.title, "/nieuwsbrieven/#{mailing.slug}" %></h4>
              <small class="small  post-meta">
                &nbsp;&middot;&nbsp;<time datetime="<%= mailing.published_at %>" class="time"><%= mailing.published_at.strftime("%d %B %Y")  %></time>
              </small>
              <p><%= mailing.description %></p>
            </article>
          </li>
        <% end %>
        </ul>
      <% end %>
  </section>
</aside>
