<div class="feature" style="background-image: url(<%= asset_path 'banner_kleuterklas.png' %>) ">
    <div class="container  typeset">
    </div>
</div>
<main class="main  container">
  <div class="content">
    <article class="article  article--page  typeset">
      <h1>Nieuwsbrieven van de Hofakker</h1>
    </article>
    <section class="section  typeset">
      <% if current_user.admin? %>
        <%= link_to 'Nieuw', new_mailing_path, class: 'button btn btn-primary', style: "background: #77B82A" %>
      <% end %>
    </section>
    <section class="section  typeset">
      <%# <p>Af en toe sturen we een grote Hofnieuws rond voor zij die de school een warm hart toedragen, en benieuwd zijn over recente ontwikkelingen</p> %>
      <%# <p>Aanmelden <a href="#aanmelden">kan hier</a></p> %>
      <ul class="list  list--posts">
        <% if @mailings.empty? %>
          Er zijn momenteel geen nieuwsbrieven van de Hofakker
        <% end %>
        <% @mailings.each do |mailing| %>
            <li class="item  item--post">
              <article class="article  article--post">
                <h2><%= link_to mailing.title, "/mailings/#{mailing.slug}" %></h2>
                <small class="small  post-meta">
                  &nbsp;&middot;&nbsp;<time datetime="nieuws data time" class="time"><%= mailing.published_at.strftime("%d %B %Y")  %></time>
                </small>
                <p><%= mailing.description %></p>
              </article>
            </li>
          <% end %>
      </ul>
    </section>
    <%# <article class="article  article--page  typeset"> %>
    <%#   <h1 id="aanmelden">Aanmelden</h1> %>
    <%# </article> %>
    <%# <section class="section  typeset"> %>
    <%#   <%= render partial: 'subscribe' %1> %>
    <%# </section> %>
  </div>
  <%= render partial: '/common/aside' %>
</main>
<%# <%= link_to 'Show', mailing %1> %>
<%# <%= link_to 'Edit', edit_mailing_path(mailing) %1> %>
