<p>Beste <%= @user.full_name %>,</p>
<p><%= @mailing.content %></p>
<p>Lees verder via op onze website: <a href="<%= "#{root_url}mailings/#{@mailing.slug}" %>"><%= "#{root_url}mailings/#{@mailing.slug}" %></a></p>
<p>Met vriendelijke groet, School de Hofakker</p>
<p>Mocht u de Hofnieuws mailings niet langer willen ontvangen dan kunt u zich afmelden via deze link: <a href="<%= "#{root_url}mailings/#{@user.uuid}/afmelden" %>"><%= "#{root_url}mailings/#{@user.uuid}/afmelden" %></a> <p/>
