<div class="feature" style="background-image: url(<%= asset_path 'banner_kring2.jpg' %>) ">
    <div class="container  typeset">
    </div>
</div>
<main class="main  container">
<article class="article  article--page  content  typeset">
  <h1>Vacatures</h1>
  <ul class="list  list--posts">
    <% if @vacatures.empty? %>
      Er zijn momenteel geen vacatures op de Hofakker
    <% end %>
    <% if @vacatures.size == 1 %>
      <i>Momenteel is er <%= @vacatures.size %> vacature</i>
    <% else %>
      <i>Momenteel zijn er <%= @vacatures.size %> vacatures</i>
    <% end %>
    <% @vacatures.each do |v| %>
      <h3><%= v.titel %></h3>
      <%= @renderer.render(v.content).html_safe %>
    <% end %>
  </ul>
  </section>
  <% if !@vacatures.empty? %>
    <h2>Contact</h2>
    <%= render partial: '/common/contact' %>
  <% end %>
 </article>
  <%= render partial: '/common/aside' %>
</main>
