<div class="feature" style="background-image: url(<%= asset_path 'banner_leraren.jpg' %>) ">
    <div class="container  typeset">
    </div>
</div>
<main class="main  container">
  <article class="article  article--page  content  typeset">
    <h1>Onze Leraren</h1>
    <ul class="list  list--posts">
      <% @leraren.each do |l| %>
        <h3><%= "#{l.voornaam} #{l.achternaam}" %></h3>
        <i></i>
        <figure class="figure  figure--right">
          <img class="image" src="<%= l.foto.url(width: 300, height: 300, format: 'jpg', quality: 100) %>" alt="<%= l.functie %>" width="300" height="800" />
          <figcaption class="caption"><%= l.functie %> </br> (<%= l.werkdagen %>)</figcaption>
        </figure>
        <%= @renderer.render(l.content).html_safe %>
      <% end %>
    </ul>
    </section>
  </article>
  <%= render partial: '/common/aside' %>
</main>
