<main class="main  container">
  <div class="content">
  <article class="article  article--post  typeset">
    <section class="section  typeset">
      <h2>Wachtwoord vergeten?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="actions">
          <%= f.submit "Stuur me wachtwoord reset instructies" %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </section>
  </article>
  </div>
</main>
