<div class="feature" style="background-image: url(<%= asset_path 'banner_contact.jpg' %>) ">
    <div class="container  typeset">
    </div>
</div>
<main class="main  container">
 <article class="article  article--page  content  typeset">

   <h1><%= @contact.title %></h1>
   <%= @renderer.render(@contact.content).html_safe %>
   <%= render partial: '/common/contact' %>

   <h3><%= @postadres.title %></h3>
   <%= @renderer.render(@postadres.content).html_safe %>

   <h3><%= @veiligheid.title %></h3>
   <%= @renderer.render(@veiligheid.content).html_safe %>
</article>
  <%= render partial: '/common/aside' %>
</main>
