<nav class="nav  nav--header">
  <ul class="list  list--nav">
    <li class="item  item--nav  <%= active_class(root_path) %>"><%= link_to "Home", root_path %></li>
		<li class="item  item--nav  <%= active_class(kracht_van_de_hofakker_path) %>"><%= link_to "Onze Kracht", kracht_van_de_hofakker_path %></li>
    <li class="item  item--nav  <%= active_class(leraren_path) %>"><%= link_to "Onze Leraren", leraren_path %></li>
    <li class="item  item--nav  <%= active_class(vacatures_path) %>"><%= link_to "Vacatures", vacatures_path %></li>
    <li class="item  item--nav  <%= active_class(nieuws_path) %>"><%= link_to "Nieuws", nieuws_path %></li>
    <li class="item  item--nav  <%= active_class(contact_path) %>"><%= link_to "Contact", contact_path %></li>
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    <svg width="16" height="16" class="icon  icon--nav" role="img" alt="Menu"><title>Menu</title><use xlink:href="#nav" fill="CurrentColor"></use></svg>
  </button>
  <script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
  </script>
</nav>
